.mainContainer {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    h2 {
      font-size: 8em;
      color: white;
      transform: scale(0);
      animation: title 1s ease-in-out forwards;
    }
    .btn {
      width: 30%;
      padding: 10px;
    }
    .copy {
      position: absolute;
      bottom: 10px;
      color: black;
      font-size: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .copy a {
      color: black;
    }
  }
}

@keyframes title {
  0% {
  }
  100% {
    transform: scale(1);
  }
}
